{% extends 'base.html' %}
{% load static %}
{% block 'navbar' %}
{% include 'component/nav.html' %}
{% endblock %}
	{% block 'content' %}
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- inner page banner -->
		{% for b in detail%}

		<div class="bnr-inr bg-pt" style="background-image:url({{MEDIA_URL}}{{b.contact_image.url}});">
			{% endfor %}

            <div class="container">
                <div class="bnr-inr-entry">
                    <h1>Contact Us</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Contact Us</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<div class="section-full content-inner bg-white">
			<div class="container">
				<div class="row">
					{% for b in detail%}
					{% if b.is_active %}
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a20 center">
							<div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="ti-location-pin"></i></a> </div>
							<div class="icon-content">
								<h5 class="tilte text-uppercase">Address</h5>
								<p>{{ b.address }}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a20 center">
							<div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="ti-email"></i></a> </div>
							<div class="icon-content">
								<h5 class="tilte text-uppercase">Email</h5>
								<p>{{ b.email1 }} <br>{{ b.email2 }}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a20 center">
							<div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="ti-mobile"></i></a> </div>
							<div class="icon-content">
								<h5 class="tilte text-uppercase">Phone</h5>
								<p>{{ b.phone1 }}<br>{{ b.phone2 }}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a20 center">
							<div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="ti-printer"></i></a> </div>
							<div class="icon-content">
								<h5 class="tilte text-uppercase">Content title</h5>
								<p>{{ b.phone1 }}<br>{{ b.phone2 }}</p>
							</div>
						</div>
					</div>
					{% endif%}
					{% endfor %}

				</div>
			</div>
		</div>
        <!-- Contact Info END -->
		<!-- contact area -->
        <div class="section-full bg-white">
			<div class="row m-lr0">
				<div class="col-lg-12 col-md-12 p-a0">
					<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219" style="border:0; margin-bottom: -5px; height: 400px; width:100%;" allowfullscreen></iframe> -->
					{% for b in detail %}
					{% if b.is_active %}

					<iframe src="{{ b.google_embed}}" style="border:0; margin-bottom: -5px; height: 400px; width:100%;" allowfullscreen></iframe>

					{% endif %}
					{% endfor %}
					<!-- Geocoding HTML and Places API HTML Example-->

					<!-- <img src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,
					+Mountain+View,+CA&key=AIzaSyC94DH4SdGFDuSPwSNFpw7hPrsXiKhZKcs
					
					" style="border:0; margin-bottom: -5px; height: 400px; width:100%;" allowfullscreen> -->




					<!-- End GEOcodig MAP API-->
				</div>
			</div>
        </div>
        <!-- contact area END -->
		<!-- Content us -->
		<div class="section-full content-inner bg-white">
			<div class="container">
				<div class="section-head text-black text-center">
					<h3 class="h2 text-uppercase fw7">Contact Us</h3>
					<div class="separator bg-primary"></div>
					<p>Explain what your feedback with us.</p>
				</div>
				<div class="row max-w1000 m-auto">
					<div class="col-lg-12">
                        <div class="contact-page-6 p-a30 clearfix form-box1">
							<div class="dazFormMsg"></div>
							<form method="POST" class="dazForm" action="" name="myForm">
								{% csrf_token %}

							<!-- <input type="hidden" value="Contact" name="dzToDo"> -->
                                <div class="row">
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="dzName" type="text" required class="form-control" placeholder="Your Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group"> 
											    <input name="dzEmail" type="email" class="form-control" required  placeholder="Your Email Address" >
                                            </div>
                                        </div>
                                    </div>
									<div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="dzOther[Phone]" type="text" required class="form-control" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
									<div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="dzOther[Subject]" type="text" required class="form-control" placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea name="dzMessage" rows="4" class="form-control" required placeholder="Your Message..."></textarea>
                                            </div>
                                        </div>
									</div> -->
									
									

									<div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
									{{form.name}}
                                            </div>
                                        </div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
									{{form.email}}
                                            </div>
                                        </div>
                                    </div><div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
									{{form.phone}}
									
											</div>
											<small>{{form.phone.errors|striptags}}</small>

										</div>
                                    </div><div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
									{{form.subject}}
                                            </div>
                                        </div>
                                    </div>
									<div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
									{{form.message}}
									</div>
									</div>
									</div>
									

									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<div class="input-group">
												<!-- <div class="g-recaptcha" data-sitekey="" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div> -->
												<div class="g-recaptcha" data-sitekey="6LeTjOgZAAAAAI5r8BPovb6RE5eyeamgwQuMwSGA" data-callback="" required data-error="Please complete the Captcha"></div>

												<!-- <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha"> -->
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 text-center">
										{% if messages %}

										{% for message in messages %}
										{% if message.tags %}
											<div class="alert alert-{{message.tags}}" role="alert">
											
												{{message}}
											</div>
											{% endif %}
											{% endfor %}
											{% endif %}
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                        <button name="submit" type="submit" value="Submit" class="site-button outline outline-2 radius-xl button-md"> <span>Submit</span> </button>
										
									</div>
                                </div>
                            </form>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- Content us END -->
		</div>
    </div>
    <!-- Content END-->
{% endblock %}